* {
       margin: 0;
       padding: 0;
       user-select: none;
       box-sizing: border-box;
   }
   body {
       justify-content: center;
       align-items: center;
       display: flex;
       min-height: 100vh;
   }
   .box {
       background-color: white;
       padding-top: 30px;
       padding: 30px;
       border: 1px solid black;
   }
   .box h2 {
       margin-bottom: 40px;
       text-align: center;
       font-size: 26px;
   }
   input {
       padding: 20px;
       height: 50px;
       width: 300px;
       border: 1px solid black;
       border: none;
       font-size: 22px;
   }
   input::placeholder {
       font-size: 20px;
       padding: 10px;
   }
   #button {
       font-size: 20px;
       margin-top: 40px;
       width: 155px;
       height: 50px;
       color: rgb(247, 242, 242);
       text-align: center;
       background-color: brown;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
   }

